@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

@font-face {
	font-family: "Futura HV BT";
	src: url('../fonts/futura_hv_bt.ttf');
}

@font-face {
	font-family: "Photographs";
	src: url('../fonts/Photographs.ttf');
}

@font-face {
	font-family: "League Gothic";
	/*src: url('../fonts/LeagueGothic-Regular.ttf');*/

	src: url('leaguegothic-regular-webfont.eot'); /* IE9 Compat Modes */
  	src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('leaguegothic-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('leaguegothic-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('leaguegothic-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

