@font-face {
	font-family: "Futura HV BT";
	src: url('../fonts/futura_hv_bt.ttf');
}

@font-face {
	font-family: "Photographs";
	src: url('../fonts/Photographs.ttf');
}

@font-face {
	font-family: "League Gothic";
	src: url('../fonts/LeagueGothic-Regular.otf');
}

